		    
		<div class="row" style="margin-top: 50px;">
			<div class="col-lg-4 col-md-4 col-sm-3 col-xs-3"></div>
			<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 box">
			<img src="../Images/guitar1.png" ng-src={{slide}} style="width: 450px; height: 300px;">
			</div>
		</div>

		<div class="row" style="margin-top: 50px;" >
			<div class="col-lg-3 col-md-3 col-sm-2 col-xs-2"></div>
			<div class="col-lg-1 col-md-1 col-sm-2 col-xs-2">
				<button class="btn btn-lg btn-primary" ng-click="previous()">&lt &lt Previous</button>
			</div>
			<div class="col-lg-4 col-md-4 col-sm-5 col-xs-5"></div>
			<div class="col-lg-1 col-md-1 col-sm-2 col-xs-2"><button class="btn btn-lg btn-primary" ng-click="next()">Next &gt &gt</button></div>
		</div>

		<div class="row" style="margin-top: 50px;">
			<div class="col-lg-4 col-md-4 col-sm-2 col-xs-3"></div>
				<div class="col-lg-5 col-md-4 col-sm-9 col-xs-8 btndesc">
					<button class="btn btn-lg btn-info" ng-click='info1(); pinfo()'>+</button>
					Product Info
				</div>
				<div class="col-lg-4 col-md-4 col-sm-2 col-xs-3"></div>
				<div class="col-lg-7 col-md-7 col-sm-9 col-xs-9 info" ng-if='val'>
					{{info.product_description}}
				</div>
				
		</div>

		<div class="row" style="margin-top: 50px;">
			<div class="col-lg-4 col-md-4 col-sm-2 col-xs-3"></div>
				<div class="col-lg-5 col-md-4 col-sm-9 col-xs-8 btndesc">
					<button class="btn btn-lg btn-info" ng-click='info1(); sinfo()'>+</button>
					Shipping Info
				</div>
				<div class="col-lg-4 col-md-4 col-sm-2 col-xs-3"></div>
				<div ng-if='sval' class="col-lg-7 col-md-7 col-sm-9 col-xs-9 info">
					{{info.shipping_details}}
				</div>
				
		</div>

		<div class="row" style="margin-top: 50px;">
			<div class="col-lg-4 col-md-4 col-sm-2 col-xs-3"></div>
				<div class="col-lg-5 col-md-4 col-sm-9 col-xs-8 btndesc">
					<button class="btn btn-lg btn-info" ng-click='info1(); cinfo()'>+</button>
					Customer Reviews
				</div>
				<div class="col-lg-4 col-md-4 col-sm-2 col-xs-3"></div>
				<div ng-if='cval' class="col-lg-7 col-md-7 col-sm-9 col-xs-9 info">
					{{info.customer_reviews}}
				</div>
				
		</div>

		<div class="row" style="margin-top: 50px;">
			<div class="col-lg-4 col-md-5 col-sm-3 col-xs-3"></div>
				<div class="col-lg-4 col-md-4 col-sm-6 col-xs-6" >
					<button style="font-size: 30px; width: 300px;"  class="btn btn-lg btn-default" ng-click="info1(); purchase()">BUY NOW</button>
				</div>
		</div>

		
			
	
