<!DOCTYPE html>
<html ng-app="guitarapp">
<head>
	<title>guitar shop</title>
	<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="../CSS/style.css">
</head>
<body style="background: linear-gradient(to left, #F0C27B , #4B1248); width: auto; height: auto; ">



		<nav class="navbar navbar-default">
	 	<div class="container-fluid">
	    <!-- Brand and toggle get grouped for better mobile display -->
	    <!-- <div class="navbar-header">
	      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
	        <span class="sr-only">Toggle navigation</span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	      </button>
	      <a class="navbar-brand" href="#">Guitars</a>
	    </div>
 -->
	    <!-- Collect the nav links, forms, and other content for toggling -->
	    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
	      <ul class="nav navbar-nav">
	        <li class="active" style="color: black"><a href="#">Guitar <span class="sr-only">(current)</span></a></li>
	        <li><a href="#">Drums</a></li>
	        <li><a href="#">Keyboards</a></li>
	        <li><a href="#">Dj & Lighting</a></li>
	        <li><a href="#">Used Gears</a></li>
	        <li><a href="#">Clearance</a></li>
	      </ul>
	      </div>
	    </div><!-- /.navbar-collapse -->
	  </div><!-- /.container-fluid -->
	</nav>
		<!-- <div class="nav">
			<div class="row">
				
				<div class="col-lg-1 col-md-1 col-sm-1 col-xs-4"></div>
				<div class="col-lg-1 col-md-1 col-sm-7 col-xs-5"><a href="#" style="font-size: 25px;">Bass</a></div>
				<div class="col-lg-1 col-md-1 col-sm-1 col-xs-4"></div>
				<div class="col-lg-1 col-md-1 col-sm-3 col-xs-5">
					<a href="#" class="guitar" style="font-size: 25px;">Guitars</a>
					<div class="dropdown-content">
					    <a href="#">Guitar 1</a>
					    <a href="#">Guitar 2</a>
					    <a href="#">Guitar 3</a>
					 </div>
				</div>
				<div class="col-lg-1 col-md-1 col-sm-1 col-xs-4"></div>
				<div class="col-lg-1 col-md-1 col-sm-7 col-xs-5"><a href="#" style="font-size: 25px;">Drums</a></div>
				<div class="col-lg-1 col-md-1 col-sm-1 col-xs-4"></div>
				<div class="col-lg-3 col-md-3 col-sm-3 col-xs-5"><a href="#" style="font-size: 25px;">Used Gear</a></div>
				<div class="hidden-lg hidden-md col-sm-1 col-xs-4"></div>
				<div class="col-lg-1 col-md-1 col-sm-3 col-xs-5"><a href="#" style="font-size: 25px;">Clearence</a></div>
				</div>
			</div> -->

	<div ui-view></div>

	<!-- <div class="footer">
			<div class="row">
				<div class="col-lg-1 col-md-1 col-sm-1 col-xs-1"></div>
				<div class="col-lg-3 col-md-3 col-sm-6 col-xs-11"><a href="#" style="font-size: 25px;">Home</a></div>
				<div class="col-lg-1 col-md-1 col-sm-1 col-xs-1"></div>
				<div class="col-lg-3 col-md-3 col-sm-4 col-xs-11"><a href="#" style="font-size: 25px;">ABOUT US</a></div>
				<div class="col-lg-1 col-md-1 col-sm-4 col-xs-1"></div>
				<div class="col-lg-3 col-md-3 col-sm-6 col-xs-11"><a href="#" style="font-size: 25px;">CONTACT US</a></div>
				
				</div>
			</div>
 -->

	
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.6/angular.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.3.2/angular-ui-router.js"></script>
<script src="../Controller/home.js"></script>
<script src="../Controller/purchase_ctrl.js"></script>
<script src="../Controller/confirm_ctrl.js"></script>
<script src="../Controller/config.js"></script>
<script src="../Controller/service.js"></script>
</body>
</html>