<div class="row" style="margin-top: 50px;">
			<div class="col-lg-1 col-md-1 col-sm-3 col-xs-3"></div>
			<div class="col-lg-4 col-md-4 col-sm-7 col-xs-7 box">
				<img ng-src={{path}} style="width: 450px; height: 300px;">
			</div>
			<div class="col-lg-2 col-md-2 col-sm-3 col-xs-3"></div>
			<div class="col-lg-5 col-md-4 col-sm-7 col-xs-7 box">
				<ul>
					<li> <p class="btndesc" style="color:black;"> Product Info:</p> <p style="font-size: 18px;">{{selected.product_description}}</p></li>
					<li> <p class="btndesc" style="color:black;"> Price : <b class="thank">$ {{selected.price}}</b></p></li>
					<li> <p class="btndesc" style="color:black;"> Shipping-Info :{{selected.shipping_details}}</p></li>
				</ul>
			</div>
</div>
<div ng-show="pur">
	<div class="row" style="margin-top: 50px;">
				<div class="col-lg-4 col-md-4 col-sm-3 col-xs-3"></div>
				<h1 class="col-lg-4 col-md-4 col-sm-5 col-xs-7"> Purchase Form</h1>
	</div>
	<form name="login">
	<div class="row" style="margin-top: 50px;">
				<div class="col-lg-2 col-md-2 col-sm-2 col-xs-2"></div>
				<label class="col-lg-2 col-md-3 col-sm-4 col-xs-4">First Name:</label>
				<input ng-model="fname" type="text" placeholder="Enter Your First Name Here" name="fname " class="col-lg-4 col-md-4 col-sm-4 col-xs-4" ng-required="true" ng-pattern='/^[a-zA-Z]+$/'  >
				<span ng-show="login.fname.$invalid && login.fname.$dirty" class="col-lg-5 col-md-6 col-sm-6 col-xs-6 errormsg">
				Please Enter Characters Only</span>
	</div>

	<div class="row" style="margin-top: 25px;">
				<div class="col-lg-2 col-md-2 col-sm-2 col-xs-2"></div>
				<label class="col-lg-2 col-md-3 col-sm-4 col-xs-4">Last Name:</label>
				<input type="text" ng-required="true" ng-pattern='/^[a-zA-Z]+$/' ng-model="lname" name="lname" placeholder="Enter Your Last Name Here" class="col-lg-4 col-md-4 col-sm-4 col-xs-4" >
				<span ng-show="login.lname.$invalid && login.lname.$dirty" class="col-lg-5 col-md-6 col-sm-6 col-xs-6 errormsg">
				Please Enter Characters Only</span>
	</div>

	<div class="row" style="margin-top: 25px;">
				<div class="col-lg-2 col-md-2 col-sm-2 col-xs-2"></div>
				<label class="col-lg-2 col-md-3 col-sm-4 col-xs-4">Credit-Card:</label>
				<input type="number" ng-model="cc" name="card" placeholder="Enter your 16 digit card number" class="col-lg-4 col-md-4 col-sm-4 col-xs-4" ng-required="true" ng-pattern="/^\d{16}$/" >
				<span ng-show="login.card.$invalid && login.card.$dirty" class="col-lg-5 col-md-6 col-sm-6 col-xs-6 errormsg">
				Must be 16 digits</span>
	</div>

	<div class="row" style="margin-top: 25px;">
				<div class="col-lg-2 col-md-2 col-sm-2 col-xs-2"></div>
				<label class="col-lg-2 col-md-3 col-sm-4 col-xs-4">Email:</label>
				<input type="email" ng-model="mail" name="mail" placeholder="Email-ID " class="col-lg-4 col-md-4 col-sm-4 col-xs-4" ng-required="true" ng-pattern="/^[a-z]+[a-z0-9._]+@[a-z]+\.[a-z.]{2,5}$/" >
				<span ng-show="login.mail.$invalid && login.mail.$dirty" class="col-lg-5 col-md-6 col-sm-6 col-xs-6 errormsg">
				Format Should be abc@xyz.com</span>
	</div>

	<div class="row" style="margin-top: 25px;">
				<div class="col-lg-2 col-md-2 col-sm-2 col-xs-2"></div>
				<label class="col-lg-2 col-md-3 col-sm-4 col-xs-4">Phone No:</label>
				<input type="number" ng-model="phone" ng-required="true" name="phoneno" placeholder="Phone-No " class="col-lg-4 col-md-4 col-sm-4 col-xs-4" ng-pattern="/^\d{10}$/" >
				<span ng-show="login.phoneno.$invalid && login.phoneno.$dirty" class="col-lg-5 col-md-6 col-sm-6 col-xs-6 errormsg">
				Must be 10 digits only</span>
	</div>
	<div class="row" style="margin-top: 25px;">
				<div class="col-lg-2 col-md-2 col-sm-2 col-xs-2"></div>
				<label class="col-lg-2 col-md-3 col-sm-4 col-xs-4">Password:</label>
				<input type="Password" ng-model="password" name="pwd" placeholder="Your Passwod" class="col-lg-4 col-md-4 col-sm-4 col-xs-4" ng-required="true" ng-pattern="/^(?=.*[A-Za-z])(?=.*\d)(?=.*[$@$!%*#?&])[A-Za-z\d$@$!%*#?&]{8,}$/" >
				<span ng-show="login.pwd.$invalid && login.pwd.$dirty" class="col-lg-5 col-md-6 col-sm-6 col-xs-6 errormsg">
				Must contain 1 uppercase,1 lower case and 1 special character and minimum length should be 8 characters</span>
	</div>
	<div class="row" style="margin-top: 25px;">
				<div class="col-lg-2 col-md-2 col-sm-2 col-xs-2"></div>
				<label class="col-lg-2 col-md-3 col-sm-4 col-xs-4">Address:</label>
				<input type="text" ng-model="address" name="address" placeholder="Address " class="col-lg-4 col-md-4 col-sm-4 col-xs-4" >
	</div>
	<div class="row" style="margin-top: 25px;">
				<div class="col-lg-2 col-md-2 col-sm-2 col-xs-2"></div>
				<label class="col-lg-2 col-md-3 col-sm-4 col-xs-4">Zipcode:</label>
				<input type="text" ng-model="zipcode" name="zipcode" placeholder="Enter your 5 digitZipcode" class="col-lg-4 col-md-4 col-sm-4 col-xs-4" ng-required="true" ng-pattern="/^\d{5}$/" >
				<span ng-show="login.zipcode.$invalid && login.zipcode.$dirty" class="col-lg-5 col-md-6 col-sm-6 col-xs-6 errormsg">
				Must be 5 digits only</span>
	</div>

	<div class="row" style="margin-top: 25px;">
				<div class="col-lg-4 col-md-4 col-sm-2 col-xs-2"></div>
				<label class="col-lg-6 col-md-6 col-sm-6 col-xs-6">All fields are mandotary</label>
	</div>

	<div class="row" style="margin-top: 50px;">
				<div class="col-lg-4 col-md-5 col-sm-3 col-xs-3"></div>
					<div class="col-lg-4 col-md-4 col-sm-6 col-xs-6" >
						<button style="font-size: 30px; width: 300px;"  class="btn btn-lg btn-default" ng-disabled="login.$invalid" ng-click="review()">Go to review</button>
					</div>
	</div>
	</form>

</div>

<div ng-hide="review1" class="review1" style="margin-top: 50px;">
	<div class="row " >
			<div class="col-lg-3 col-md-3 col-sm-1 col-xs-1"></div>
			<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 ">
			Your Email Id is your User-Name </div>
	</div>
	<div class="row " style="margin-top: 50px;" >
			<div class="col-lg-3 col-md-3 col-sm-1 col-xs-1"></div>
			<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 ">
			First Name:   <b style="color: black;"> {{fname}} </b></div>
	</div>
	<div class="row" style="margin-top: 50px;">
			<div class="col-lg-3 col-md-3 col-sm-1 col-xs-1"></div>
			<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 ">
			Last Name:   <b style="color: black;">   {{lname}}</b> </div>
	</div>
	<div class="row" style="margin-top: 50px;">
			<div class="col-lg-3 col-md-3 col-sm-1 col-xs-1"></div>
			<div class="col-lg-8 col-md-6 col-sm-6 col-xs-6 ">
			Your confirmation will be sent to:    <b style="color: black;"> {{mail}} </b></div>
	</div>
	<div class="row" style="margin-top: 50px;">
			<div class="col-lg-3 col-md-3 col-sm-1 col-xs-1"></div>
			<div class="col-lg-5 col-md-6 col-sm-6 col-xs-6 ">
			Check your address before confirmation: 
			<b style="color: black;">{{address}},{{zipcode}}</b> </div>
	</div>
	<div class="row" style="margin-top: 50px;">
			<div class="col-lg-3 col-md-3 col-sm-1 col-xs-1"></div>
			<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 ">
			Total-$ <b style="color: black;">{{selected.price}}</b> </div>
	</div>
	<div class="row" style="margin-top: 50px;" >
			<div class="col-lg-2 col-md-2 col-sm-2 col-xs-2"></div>
			<div class="col-lg-1 col-md-1 col-sm-2 col-xs-2"><button class="btn btn-lg btn-default" ng-click="edit()">Edit</button></div>
			<div class="col-lg-4 col-md-4 col-sm-5 col-xs-5"></div>
			<div class="col-lg-1 col-md-1 col-sm-2 col-xs-2"><button class="btn btn-lg btn-default" ng-click="confirm()">Confirm Order</button></div>
		</div>
</div>

